--- 
title: Email for All - Action Rocket and Beyond the Envelope
body_class: base
layout: "base.njk" 
---

    <div class="inner">
        <h1>Resources</h1>
        <p>We want to help you make the best decisions with accessibility in mind. Here you will find a list of resources and information we’ve created.</p>

        <ul>
            <li>
                <p><a href="https://www.actionrocket.co/email-for-all">Click here to download the Email for All report</a></p>
            </li>
            <li>
                <p><a href="https://www.actionrocket.co/email-for-all">Click here to view helpful accessibility resources</a></p>
            </li>
        </ul>

        <h2>Want to see what a fully AAA+ compliant Email Design System looks like?</h2>
        <p>
            We have taken our Email Weekly template and given it a full AAA+ overhaul. The email itself has always adhered to AA accessibility best practices, but we wanted to see what it would mean and look like for it to be fully compliant. Click on the email below to see what changes we’ve had to make to ensure it’s fully accessable.
        </p>

        </div>

        <div class="two-col">
            <div class="hotspot">
                <img class="overlay" src="/assets/images/overlay.png" alt="Email Weekly" />
                <div class="hotspot-inner">
                    <iframe src="/assets/email-weekly.html" frameborder="0" width="100%" height="100%"></iframe>
                </div>
            </div>
            <div class="dialog">
                <p id="hotspot1" class="hotspot active"><strong>Colour contrast</strong> - While our brand red meets the AA compliance for colour contrast, it doesn't quite meet the stricter AAA standards. So we've changed the red and other colours across the email to meet the 7:1 ratio.</p>
                <p id="hotspot2" class="hotspot"><strong>Layout changes</strong> - The AAA guidelines have stricter requirements for how elements are positioned on the page, in particular the distance between distinct sections.</p>
                <p id="hotspot3" class="hotspot"><strong>Disabling animations</strong> - Animations and moving content can be distracting or disorienting for some people. As such, we've used the prefers-reduced-motion media query to disable CSS animations and GIFs for those who have enabled the setting on their device.</p>
            </div>

    </div>
    <script>


    //add event listener to iframe scroll
    const iframe = document.querySelector('iframe');
    let prevHotspot = "hotspot1";

    iframe.addEventListener('load', function() {
            let hotspotScroll = {
                "hotspot1": 100,
                "hotspot2": 690,
                "hotspot3": 1800
            };
        iframe.contentWindow.addEventListener('scroll', function() {
            //get scroll position
            let scrollPos = iframe.contentWindow.pageYOffset;
            //find the next greatest hotspot
            let nextHotspot = Object.values(hotspotScroll).find(function(hotspot) {
                return hotspot > scrollPos;
            });

            console.log(scrollPos)

            //get the key for the next greatest hotspot
            let nextHotspotKey = Object.keys(hotspotScroll).find(function(key) {
                return hotspotScroll[key] === nextHotspot;
            });


            //if nextHotspotKey is undefined, set it to the last hotspot
            if (typeof nextHotspotKey === 'undefined') {
                nextHotspotKey = Object.keys(hotspotScroll)[Object.keys(hotspotScroll).length - 1];
            }

            //if the next hotspot is the same as the previous hotspot, do nothing
            if (nextHotspotKey === prevHotspot) {
                return;
            }

            //remove active class from all hotspots
            document.querySelectorAll('.hotspot').forEach(function(hotspot) {
                hotspot.classList.remove('active');
            });

            //add active class to the next hotspot
            document.querySelector('#' + nextHotspotKey).classList.add('active');

            //set the previous hotspot to the current hotspot
            prevHotspot = nextHotspotKey;
            
            
        });
    });
    </script>