<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }}</title>
    <meta name="description" content="The importance of email accessiblity">

    <meta property="og:url" content="http://www.emailforall.co.uk" />
    <meta property="og:title" content="Email For All - ActionRocket & Beyond the Envelope™" />
    <meta property="og:description" content="The importance of email accessiblity" />
    <meta property="og:image" content="/assets/images/EmailForAll.jpg" />

    <link rel="icon" type="image/png" sizes="32x32" href="/assets/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/icons/favicon-16x16.png">
    <link rel="stylesheet" href="{{ 'css/main.css' | url }}">
    <script defer src="{{ 'js/main.js' | url }}"></script>
  </head>
  <body>
    {{ content | safe }}
    {% include "partials/footer.njk" %}
  </body>
</html>