<nav>
    <div id="controls">
        <div class="accessible-wrapper">
            <button id="contrast" aria-label="Increase Contrast">
                <p>Contrast</p>
            </button>
            <div id="text-size">
                <p>Text Size</p>
                <div class="button-wrap">
                    <button id="minus" aria-label="Decrease"></button>
                    <button id="reset" aria-label="Reset"></button>
                    <button id="plus" aria-label="Increase"></button>
                </div>
            </div>
        </div>
        <div class="mob_nav">
            <button id="mob_nav" aria-label="Open Navigation">
            </button>
        </div>
    </div>
    <ul id="menu">
        <li class="droplink"><p aria-haspopup="true">Email for All</p>
          <ul class="subdrop" aria-label="Main Links Sub Navigation">
            <li><a href="/about">About</a></li>
            <li><a href="/resources">Resources</a></li>
          </ul>
        </li>
        <li class="droplink">
            <a href="https://actionrocket.co/">ActionRocket</a>
        </li>
        <li class="droplink"> 
            <a href="https://www.beyondtheenvelope.co.uk/">Beyond the Envelope™</a>
        </li>
      
  </ul>
</nav>