--- 
title: Email for All - Action Rocket and Beyond the Envelope
body_class: base
layout: "base.njk" 
---

    <div class="inner">
        <h1>About</h1>
        <p>ActionRocket and Beyond the Envelope™ created Email for All in 2021. With a desire to put accessibility practices and innovations to the test through usability testing. Forming a purposeful partnership, we created a short survey to help us to identify valuable insights around email accessibility.</p>

        <p>Our aim was to replace what we think will improve the recipient experience with what will actually improve the recipient experience when it comes to implementing accessibility in email – making it real. We published our insights and shared the findings amongst the industry and brands, this led to more informed conversations and decisions.</p>

        <p>Since then, the importance of accessibility has not diminished and if anything - has grown even more so. We’ve been working together behind the scenes to understand what we can continually do to help inform and educate the industry. We want Email for All to be a working brand, forming new insights, and constantly delivering helpful information to the industry.</p>

    </div>