--- 
title: About | Email for All - Action Rocket and Beyond the Envelope
body_class: base
layout: "base.njk" 
---

    <div class="inner">
        <h1>A collective mission</h1>
        <p>ActionRocket and Beyond the Envelope™ created Email for All in 2021. Driven by our shared commitment to accessibility practices and innovations, we sought to put our beliefs to the test through usability testing. Together, we developed a survey designed to identify valuable insights on email accessibility.</p>

        <p>Our aim was to move beyond mere assumptions and replace them with actual improvements that genuinely enhanced the recipient experience - making it real. The insights from our survey were shared amongst the industry and brands alike, sparking more informed conversations and decisions.</p>

        <p>Since then, the significance of accessibility has only continued to grow. Recognising this, we&apos;ve been collaborating behind the scenes to identify ongoing strategies for informing and educating the industry. We want Email for All to be a working brand. An ever-evolving platform that generates fresh insights and delivers real information to the email industry.</p>

    </div>