--- 
title: Email for All - Action Rocket and Beyond the Envelope 
layout: "home.njk" 
---
<div class="bg-red">
    <header>
        {% include "modules/nav.njk" %}
        <img src="assets/images/Logo.svg" width="140">
        <h1>Email for All</h1>
        <p>ActionRocket & Beyond the Envelope™</p>
        <hr/>
    </header>
    <main>
        <div class="inner">
            <h2>Email accessibility brought to life</h2>
            <p>
                <a href="">ActionRocket</a>
                &
                <a href="">Beyond the Envelope™</a>
                have come together in their shared passion for and commitment to accessibility, with the aim of making it real for recipients.
            </p>
            <a class="button" href="">Learn more</a>
        </div>

    </main>
</div>