--- 
title: Email for All - Action Rocket and Beyond the Envelope 
layout: "home.njk" 
---
<div class="bg-red">
    <header>
        {% include "modules/nav.njk" %}
        <img src="assets/images/Logo.svg" width="140">
        <h1>Email for All</h1>
        <p>ActionRocket & Beyond the Envelope™</p>
        <hr/>
    </header>
    <main>
        <div class="inner">
            <h2>Email accessibility brought to life</h2>
            <p>
                <a href="https://actionrocket.co/">ActionRocket</a>
                &
                <a href="https://www.beyondtheenvelope.co.uk/">Beyond the Envelope™</a>
                have united, fueled by a mutual passion for, and a commitment to, accessibility. Their mission? To make it a reality for all.
            </p>
            <a class="button" href="/about">Learn how</a>
        </div>

    </main>
</div>